{%extends 'master.html'%}


{%block 'main'%}
<center><h1 class="mt-2 mb-3">Add Expense Details!!</h1></center>
<form method="post" >
    {%csrf_token%}

    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size:30px">ExpenseAmount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="inputEmail3" name="amt">
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size:30px">Expense Type</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" name="type">
      </div>
    </div>

    
  
    <div class="form-floating row mb-4"  >
      {% comment %} difference in only class {% endcomment %}
      <label for="floatingTextarea text-black">Add description</label>
      <textarea class="form-control " placeholder="ADD description" id="floatingTextarea"
          name="description"></textarea>
        
    </div> 


    <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker row mb-3">
        <label for="example">Date</label>
        <input placeholder="Select date" type="date" id="example" class="form-control" name="date">
        
        <i class="fas fa-calendar input-prefix"></i>
    </div>
   
    <button type="submit" class="btn btn-info" style="font-size:30px">Add</button>
</form>
{%endblock%}